<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">Agregar Producto</div>
            <div class="card-body">
                <form>
                    <input type="text" class="form-control" placeholder="Ingrese nombre">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese descripcion">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese precio">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese stock">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>